.login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 581px;
    text-align: center;
    width: 350px;
}

@media (max-width: 825px) {
    .login {
        margin-top: 45px;
    }
}

@media (max-width: 450px) {
    .login {
        margin-top: 45px;
    }
}