.login__forms__divisao {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 15px;
    justify-content: center;
    margin: 10px 40px 18px;
    width: 268px;
}

.login__forms__divisao--line {
        background-color: #DBDBDB;
        height: 1px;
        width: 106.52px;
}

.login__forms__divisao--ou {
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: 500;
    color: #8E8E8E;
    height: 15px;
    margin: 0 18.969px;
    text-transform: uppercase;
}