.login__forms__facebook {
    height: 20px;
    margin: 8px 40px;
    width: 268px;
}

.login__forms__facebook--btn {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 268px;    
}

.login__forms__facebook-btn--icon {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    width: 16px;
    
}

.login__forms__facebook-btn--texto {
    color: #385185;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}